<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>registrarMensajero</servlet-name>
        <servlet-class>org.proyectox.controlador.insertar.registrarMensajero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarUsuario</servlet-name>
        <servlet-class>org.proyectox.controlador.insertar.registrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarNuevoAsunto</servlet-name>
        <servlet-class>org.proyectox.controlador.insertar.registrarNuevoAsunto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarAsunto</servlet-name>
        <servlet-class>org.proyectox.controlador.consultar.buscarAsunto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>org.proyectox.sesion.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>org.proyectox.sesion.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarMensajero</servlet-name>
        <servlet-class>org.proyectox.controlador.consultar.buscarMensajero</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>registrarTurno</servlet-name>
        <servlet-class>org.proyectox.controlador.insertar.registrarTurno</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>registrarNuevoAsunto</servlet-name>
        <url-pattern>/jefeArea/registrarNuevoAsunto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarAsunto</servlet-name>
        <url-pattern>/JefeA/buscarAsunto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarTurno</servlet-name>
        <url-pattern>/jefeArea/turnar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarMensajero</servlet-name>
        <url-pattern>/recepcionista/buscarMensajero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarMensajero</servlet-name>
        <url-pattern>/recepcionista/registrarMensajero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarUsuario</servlet-name>
        <url-pattern>/Administrador/registrarUsuario</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
